# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor files
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
.vercel
